[Desktop Entry]
Encoding=UTF-8
Name=Vacation Calculator
Name[it]=Contatore Ferie
Type=Service
ServiceTypes=Plasma/Applet
Icon=accessories-calculator
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Alessandro Accardo
X-KDE-PluginInfo-Email=julius8774@gmail.com
X-KDE-PluginInfo-Name=vacation-calculator
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://d4n6uard.wordpress.com
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
